<!--index.html.erb-->
<h1>Posts Index</h1>
<%= link_to "New Post", new_post_path, data: { turbo_frame: dom_id(Post.new) } %><br><br>

<%= turbo_stream_from "posts" %>

<div class="flex-container">
  <%= turbo_frame_tag Post.new %>
  <%= turbo_frame_tag "posts" do %>
    <%= render @posts %>
  <% end %>
</div>